[submodule "lib/LabSound"]
	path = lib/LabSound
	url = https://github.com/LabSound/LabSound.git
[submodule "lib/brickworks"]
	path = lib/brickworks
	url = https://github.com/sdangelo/brickworks.git
[submodule "lib/choc"]
	path = lib/choc
	url = https://github.com/Tracktion/choc.git
